$header-background-color: #333333;
$highligthed-nav-element-background: #111111;
$navbar-icons-color: #a5a5a5;

$main-color-light-orange: #ff6300;
$main-color-dark-orange: #ff541a;
$main-color-white: #ffffff;
$main-color-light-gray: #eeeeee;
$main-color-gray: #999999;
$main-color-black: #333333;

$sub-text-color: #d6d6d6;
$link-text-color: #3a8cde;

$important-btn-linear-gradient: linear-gradient(#cd3333, #9ba6ff);

$track-container-background: #f2f2f2;
$track-processbar-color: #ff5500;
